{% extends "base.html" %}
{% block title %}Контакты{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>Контакты</h1>
    <p>Раздел "Контакты" на сайте BigHouzzz предназначен для того, чтобы пользователи могли легко связаться с нами. Здесь вы можете найти всю необходимую информацию о том, как связаться с нашей командой поддержки, а также с основателями проекта. Мы всегда рады получить от вас обратную связь, предложения по улучшению нашего сервиса или просто пообщаться. Не стесняйтесь обращаться к нам, мы всегда готовы помочь!</p>
    <table class="table">
        <tr>
            <th scope="row">Основатель проекта:</th>
            <td>Боталов Константин Владимирович</td>
        </tr>
        <tr>
            <th scope="row">Телефон:</th>
            <td>+7 (915) 255-71-12</td>
        </tr>
        <tr>
            <th scope="row">Электронная почта:</th>
            <td><a href="mailto:konstantin@botalov.pro">konstantin@botalov.pro</a></td>
        </tr>
    </table>
</div>
{% endblock %}