{% extends "base.html" %}
{% block title %}BigHouzzz{% endblock %}
{% block content %}
<h1 class="visually-hidden">Главная страница!</h1>
<h2>Добро пожаловать в BigHouzzz!</h2>
<p>
    BigHouzzz - система управления взаимоотношениями с соседями в многоквартирных жилых домах.
</p>
<p>
    Вы можете:
<ul>
    <li>Узнать кто живет рядом</li>
    <li>Связаться с владельцами транспортных средств</li>
    <li>Посмотреть карту района</li>
    <li>Принять участие в опросах и голосованиях</li>
    <li>Публиковать частные объявления</li>
    <li>Узнавать новости района и смотреть афишу мероприятий</li>
</ul>
<p>
    Присоединяйтесь к проекту BigHouzzz и сделайте свой дом еще уютнее и красивее вместе с нами!
</p>
<img src="https://gzhi.mosreg.ru/upload/files/o/J/oJfMAwlgpwjl6w8ZZJKEyvfsgSsgKSMVY1mlRzlnm1Y6mdNGDT0rkwD02a6mw2LlIVoscGEw0lYLMh4Lr62SzwO9WGowVLoP.jpg" width="100%">
{% endblock %}

{# Footer #}
{% include 'includes/footer.html' %}

</body>
</html>