{# Отзывы #}
{% load static %}
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/testimonials/testimonial-4/assets/css/testimonial-4.css">
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8">
        <h3 class="fs-5 mb-2 text-secondary text-uppercase">Отзывы</h3>
        <h2 class="display-5 mb-4">Отзывы наших уважаемых пользователей говорят о качестве нашей работы.</h2>

        {# Модальная форма создания нового отзыва (вызов по кнопке) #}
        <a class="btn btn-lg btn-primary mb-3 mb-md-4 mb-xl-5" href="#collapseReviewForm" role="button" data-bs-toggle="modal" aria-expanded="false" aria-controls="collapseReviewForm">Добавить отзыв</a>
        <div class="modal fade" id="collapseReviewForm" tabindex="-1">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Добавить новый отзыв</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
              </div>
              <div class="modal-body">
                <p>Здесь идет основной текст модального окна</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary">Добавить</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      {# Список отзывов #}
      <div class="container overflow-hidden">
        <div class="row gy-3 gy-lg-4">
        {% for Review in Reviews %}
          <div class="col-12 col-lg-6">
            <div class="card h-100">
              <div class="card-body p-4 p-xxl-5">
                <div class="bsb-ratings text-warning mb-3" data-bsb-star="{{ Review.rating }}" data-bsb-star-off="0"></div>
                <blockquote class="bsb-blockquote-icon mb-3">{{ Review.text }}</blockquote>
              </div>
              <div class="card-footer bg-transparent border-0">
                <figure class="d-flex align-items-center m-0 p-0">
                  <img width="80" height="80" class="img-fluid rounded rounded-circle m-0 border border-5" loading="lazy" src="{% if Review.user.avatar %} {{ Review.user.avatar.url }} {% else %} {% static 'vendor/img/users/default_avatar.png' %} {% endif %}" alt="">
                  <figcaption class="ms-3">
                    <h4 class="mb-1 h5">{{ Review.user.first_name }} {{ Review.user.last_name }}</h4>
                    <small class="text-muted">{{ Review.created|timesince }} назад</small>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
