{# Header #}
<header>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark mb-4">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'core:index' %}">
                        <i class="bi bi-buildings" style="font-size: 32; width: 2rem; height: 2rem"></i>
                        BigHouzzz
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
<!--                            <li class="nav-item">
                                <a class="nav-link
                                    {% if request.resolver_match.view_name  == 'cars:cars_index' %}active{% endif %}"
                                   href="{% url 'cars:cars_index' %}">Квартиры</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link
                                    {% if request.resolver_match.view_name  == 'cars:cars_index' %}active{% endif %}"
                                   href="{% url 'cars:cars_index' %}">Дома</a>
                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link
                                    {% if request.resolver_match.view_name  == 'cars:cars_index' %}active{% endif %}"
                                   href="{% url 'cars:cars_index' %}">Транспорт</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link
                                    {% if request.resolver_match.view_name  == 'core:about' %}active{% endif %}"
                                   href="{% url 'core:about' %}">О проекте</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link
                                    {% if request.resolver_match.view_name  == 'core:contacts' %}active{% endif %}"
                                   href="{% url 'core:contacts' %}">Контакты</a>
                            </li>
                        </ul>
                        <div class="text-end">
                            {% if user.is_authenticated %}
                                <div class="dropdown">
                                    <a class="btn btn-outline-light me-md-2 dropdown-toggle" role="button" id="dropdownUserMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Пользователь: {{ user.username }}</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownUserMenuButton">
                                        <li><a class="dropdown-item" href="{% url 'profile' %}">Профиль</a></li>
                                        {% if user.is_authenticated and user.is_superuser %}
                                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Администрирование</a></li>
                                        {% endif %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item link-danger" href="{% url 'users:logout' %}">Выйти <i class="bi bi-box-arrow-right"></i></a></li>
                                    </ul>
                                </div>
                            {% else %}
                                <a class="btn btn-outline-light me-2" href="{% url 'users:login' %}" role="button">Войти</a>
                                <a class="btn btn-success" href="{% url 'users:signup' %}" role="button">Зарегистрироваться</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
