{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О проекте</title>
</head>
<body>
<div class="container-fluid">
<h1>О проекте</h1>
<p>Проект BigHouzzz - это платформа, которая объединяет людей со всего мира, предоставляя им возможность обмениваться опытом и знаниями в области домашнего хозяйства. Наша цель - помочь пользователям улучшить свои навыки ведения домашнего хозяйства, предоставляя доступ к различным ресурсам, таким как советы, руководства и обучающие материалы. В разделе About вы можете узнать больше о проекте BigHouzzz, его истории, команде разработчиков и целях. Мы постоянно работаем над улучшением нашего проекта, чтобы сделать его еще более полезным и интересным для наших пользователей.</p>
</div>
</body>
</html>