<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
<h1>Контакты</h1>
<p>Раздел Contacts на сайте BigHouzzz предназначен для того, чтобы пользователи могли легко связаться с нами. Здесь вы можете найти всю необходимую информацию о том, как связаться с нашей командой поддержки, а также с основателями проекта. Мы всегда рады получить от вас обратную связь, предложения по улучшению нашего сервиса или просто пообщаться. Не стесняйтесь обращаться к нам, мы всегда готовы помочь!</p>
<table border="1">
    <tr>
        <td>Фамилия, имя, отчество:</td>
        <td>Боталов Константин Владимирович</td>
    </tr>
    <tr>
        <td>Телефон:</td>
        <td>+7 (915) 255-71-12</td>
    </tr>
    <tr>
        <td>Электронная почта:</td>
        <td><a href="mailto:konstantin@botalov.pro">konstantin@botalov.pro</a></td>
    </tr>
</table>
</body>
</html>