{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница!</title>
</head>
<body>
<div class="container">
    <h1>Главная страница!</h1>
    <h2>Добро пожаловать на главную страницу проекта BigHouzzz!</h2>
    <p>
        Здесь вы найдете все необходимое для создания уютного и комфортного дома вашей мечты. С нами вы сможете сэкономить время, силы и деньги, получая доступ к широкому ассортименту товаров и услуг от ведущих производителей и профессионалов в области строительства, ремонта и дизайна интерьеров.
    </p>
    <p>Мы предлагаем:
        <ul>
            <li>Товары для строительства и ремонта: от строительных материалов до бытовой техники и мебели.</li>
            <li>Услуги по дизайну интерьеров: разработка проектов, консультации по выбору материалов и предметов интерьера.</li>
            <li>Профессиональные советы и рекомендации от экспертов в области строительства и ремонта.</li>
            <li>Обзоры и рейтинги товаров и услуг, представленных на сайте.</li>
            <li>Возможность общения с другими пользователями и профессионалами для обмена опытом и получения советов.</li>
            <li>Новости и актуальные акции от партнеров проекта.</li>
            <li>Удобный интерфейс и система поиска для быстрого нахождения интересующих товаров и услуг.</li>
            <li>Безопасные сделки и гарантия качества предлагаемых товаров и услуг.</li>
        </ul>
        Присоединяйтесь к проекту BigHouzzz и сделайте свой дом еще уютнее и красивее вместе с нами!
    </p>
    <h3>Навигация</h3>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/cars">Машинки</a></li>
        <li><a href="/about">О проекте</a></li>
        <li><a href="/contacts">Контакты</a></li>
    </ul>
    <img src="https://gzhi.mosreg.ru/upload/files/o/J/oJfMAwlgpwjl6w8ZZJKEyvfsgSsgKSMVY1mlRzlnm1Y6mdNGDT0rkwD02a6mw2LlIVoscGEw0lYLMh4Lr62SzwO9WGowVLoP.jpg">
</div>
</body>
</html>