<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Главная страница!{% endblock %}</title>
    <script src="https://kit.fontawesome.com/a97047fead.js" crossorigin="anonymous"></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>

{# Header #}
<header>
    <div class="container">
        <div class="row">
                        <nav class="sidebar-sticky bg-dark navbar-dark navbar-expand-md">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <i class="fa-solid fa-home"></i>
                        <span class="fs-4">Навигация</span>
                    </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/cars" class="nav-link text-white" aria-current="page">
                            <i class="fa-solid fa-car"></i>
                            Машинки
                        </a>
                    </li>
                    <li>
                        <a href="/about" class="nav-link text-white">
                            <i class="fa-solid fa-info"></i>
                            О проекте
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <i class="fa-solid fa-paper-plane"></i>
                            Контакты
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>Константин</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">Настройки</a></li>
                        <li><a class="dropdown-item" href="#">Профиль</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Выход</a></li>
                    </ul>
                </div>
                </div>
            </nav>
        </div>
    </div>
</header>

{# Main #}
<section>
    <div class="container">
        <div class="row">
            <main>
                <h1>Главная страница!</h1>
            <h2>Добро пожаловать на главную страницу проекта BigHouzzz!</h2>
            <p>
                Здесь вы найдете все необходимое для создания уютного и комфортного дома вашей мечты. С нами вы сможете сэкономить время, силы и деньги, получая доступ к широкому ассортименту товаров и услуг от ведущих производителей и профессионалов в области строительства, ремонта и дизайна интерьеров.
            </p>
            <p>Мы предлагаем:
            <ul>
                <li>Товары для строительства и ремонта: от строительных материалов до бытовой техники и мебели.</li>
                <li>Услуги по дизайну интерьеров: разработка проектов, консультации по выбору материалов и предметов интерьера.</li>
                <li>Профессиональные советы и рекомендации от экспертов в области строительства и ремонта.</li>
                <li>Обзоры и рейтинги товаров и услуг, представленных на сайте.</li>
                <li>Возможность общения с другими пользователями и профессионалами для обмена опытом и получения советов.</li>
                <li>Новости и актуальные акции от партнеров проекта.</li>
                <li>Удобный интерфейс и система поиска для быстрого нахождения интересующих товаров и услуг.</li>
                <li>Безопасные сделки и гарантия качества предлагаемых товаров и услуг.</li>
            </ul>
            <p>
                Присоединяйтесь к проекту BigHouzzz и сделайте свой дом еще уютнее и красивее вместе с нами!
            </p>

            <img src="https://gzhi.mosreg.ru/upload/files/o/J/oJfMAwlgpwjl6w8ZZJKEyvfsgSsgKSMVY1mlRzlnm1Y6mdNGDT0rkwD02a6mw2LlIVoscGEw0lYLMh4Lr62SzwO9WGowVLoP.jpg" width="100%">
            </main>
        </div>
    </div>
</section>

{# Footer #}
<footer>
    <div class="container">
        <div class="row">
            <div class="text-center">
                (c) BigHouzzz, 2023.
            </div>
        </div>
    </div>
</footer>

</body>
</html>