{% extends "base.html" %}
{% block title %}Транспорт - подробно{% endblock %}
{% block content %}
<div class="container-fluid">
  <h1>Транспорт - подробно</h1>
  <table class="table">
    <tbody>
    <tr>
      <th scope="row">Рег. знак:</th>
      <td>{{ vehicle.regnum }}</td>
    </tr>
    <tr>
      <th scope="row">Модель:</th>
      <td>{{ vehicle.model }}</td>
    </tr>
    <tr>
      <th scope="row">Цвет:</th>
      <td>{{ vehicle.color }}</td>
    </tr>
    </tbody>
  </table>
</div>
{% endblock %}