{% extends "base.html" %}
{% block title %}Транспорт{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>Транспорт</h1>
    {# Filter #}
    {% include 'cars/car_index_filter.html' %}
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Рег. знак</th>
            <th scope="col">Модель</th>
            <th scope="col">Цвет кузова</th>
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ vehicle.regnum|upper }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.color|default_if_none:"---" }}</td>
            <td><a class="btn btn-success"
                   href="{% url 'cars:car_detail' vehicle.id %}" role="button">Подробно</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}