{% extends "base.html" %}
{% block title %}Зарегистрироваться{% endblock %}
{% block content %}
<form action="{% url 'users:signup' %}" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Создать аккаунт</h1>
    <div class="form-floating">
        {{ form.username }}
        <label for="{{ form.username.id_for_label }}">Имя пользователя (логин)</label>
    </div>
    <div class="form-floating">
        {{ form.email }}
        <label for="{{ form.email.id_for_label }}">Адрес эл. почты</label>
    </div>
    <div class="form-floating">
        {{ form.first_name }}
        <label for="{{ form.first_name.id_for_label }}">Имя</label>
    </div>
    <div class="form-floating">
        {{ form.last_name }}
        <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
    </div>
    <div class="form-floating">
        {{ form.password1 }}
        <label for="{{ form.password1.id_for_label }}">Пароль</label>
    </div>
    <div class="form-floating">
        {{ form.password2 }}
        <label for="{{ form.password2.id_for_label }}">Подтверждение пароля</label>
    </div>
    <div class="form-floating">
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
    </div>
    <button class="btn btn-lg btn-primary" type="submit">Создать</button>
</form>
{% endblock %}




